@page "/person"

@inject InsCorpDbContext context

<h3>Seznam osob</h3>

<table class="table">
    <tr>
        <td>Jméno</td>
        <td>Příjmení</td>
        <td>Datum narození</td>
        <td>Email</td>
        <td>Počet smluv</td>
    </tr>
    @foreach (var person in persons)
    {
        // odkaz tvoří jeden sloupeček na řádku
        <tr>
            <td>@person.FirstName</td>
            <td>@person.LastName</td>
            <td>@person.DateOfBirth.ToString("dd. MM. yyyy")</td>
            <td>@person.Email</td>
            <td>@person.Contracts.Count()</td>
            <td>
                <a class="btn btn-primary"style="background-color:dodgerblue" href="/person/detail/@person.Id">
                    Detail
                </a>
            </td>
            <td>
                <a class="btn btn-primary"style="background-color:dodgerblue" href="/person/edit/@person.Id">
                    Upravit
                </a>
            </td>
        </tr>

        // odkaz tvoří celý řádek
        @*            <tr class="table-row-link" onclick="window.location.href='@Url.Action("Detail", "Person", new { id = person.Id })'">
    <td>@person.FirstName</td>
    <td>@person.LastName</td>
    <td>@person.DateOfBirth.ToString("dd. MM. yyyy")</td>
    <td>@person.Email</td>
    <td>@person.Constracts.Count()</td>
    </tr>*@

    }
</table>


@code {
    private List<Person> persons = new List<Person>();

    protected override void OnInitialized()
    {
        persons = context.Persons
                    .Include(person => person.Contracts)
                    .Take(100)
                    .ToList();
    }
}
