@model List<Person>

@{

}

<div>
    <h3>@String.Format("Celkový počet osob v DB: {0}",ViewData["count"])</h3>
    <table class="table"> 
        <tr>
            <td>Jméno</td>
            <td>Příjmení</td>
            <td>Datum narození</td>
            <td>Email</td>
            <td>Počet smluv</td>
        </tr>
        @foreach (var person in Model)
        {
            
                <tr>
                    
                        <td>
                            <a asp-controller="Person" asp-action="Detail" asp-route-id="@person.Id">
                        @person.FirstName</a>
                        </td>
                    
                    <td>@person.LastName</td>
                    <td>@person.DateOfBirth.ToString("dd. MM. yyyy")</td>
                    <td>@person.Email</td>
                    <td>@person.Constracts.Count()</td>
                </tr>
        }
    </table>
    
</div>


